.ck-content doubleqoute {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.ck-content doubleqoute::before {
  /* content: "❝"; */
  /* font-size: 50px;
  display: flex;
  justify-content: center;
   */
  /* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 000 2h6a1 1 0 100-2H7z' clip-rule='evenodd' /%3E%3C/svg%3E"); */
  /* content:url("./icon/quotes-left.svg") */
  content: "";
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ctitle%3Equotes-left%3C/title%3E%3Cpath d='M7.031 14c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7l-0.031-1c0-7.732 6.268-14 14-14v4c-2.671 0-5.182 1.040-7.071 2.929-0.364 0.364-0.695 0.751-0.995 1.157 0.357-0.056 0.724-0.086 1.097-0.086zM25.031 14c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7l-0.031-1c0-7.732 6.268-14 14-14v4c-2.671 0-5.182 1.040-7.071 2.929-0.364 0.364-0.695 0.751-0.995 1.157 0.358-0.056 0.724-0.086 1.097-0.086z'%3E%3C/path%3E%3C/svg%3E%0A") no-repeat;
  width: 1rem;
  height: 1rem;
  background-size: cover;
  color: #0e101aa3;
  align-self: center;
}
.ck-content doubleqoute::after {
  content: "";
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ctitle%3Equotes-right%3C/title%3E%3Cpath d='M25 20c-3.866 0-7-3.134-7-7s3.134-7 7-7 7 3.134 7 7l0.031 1c0 7.732-6.268 14-14 14v-4c2.671 0 5.182-1.040 7.071-2.929 0.364-0.364 0.695-0.75 0.995-1.157-0.357 0.056-0.724 0.086-1.097 0.086zM7 20c-3.866 0-7-3.134-7-7s3.134-7 7-7 7 3.134 7 7l0.031 1c0 7.732-6.268 14-14 14v-4c2.671 0 5.182-1.040 7.071-2.929 0.364-0.364 0.695-0.75 0.995-1.157-0.357 0.056-0.724 0.086-1.097 0.086z'%3E%3C/path%3E%3C/svg%3E%0A") no-repeat;
  width: 1rem;
  height: 1rem;
  background-size: cover;
  color: #0e101aa3;
  align-self: center;
}
.ck-content[dir="rtl"] doubleqoute {
}
